<div class="card">
  <div class="card-body">
    <label style="margin: 20px">Task Name</label>
    <input [(ngModel)]="newTask.taskName!"/>
    <label style="margin: 20px">timeLeft</label>
    <input [(ngModel)]="newTask.timeLeft!"/>
    <button style="margin: 10px" (click)="addToDoList()" class="btn btn-light text-success">ADD task</button>
  </div>

  <div style="position: relative">
    <div style="position: absolute;alignment: center ;width: 100%">
      <div class="row"  >
        <div class="col" style="margin: 10px">
          <h3 style="margin: 10px;alignment: center">To Do Task</h3>
          <todo-to-do-cart *ngFor="let item of itemsList" [cartTaskItem]="item" (editeEvent)="editeTask($event)"
                          (deleteEvent)="deleteTodoList($event)" (isChangeEvent)="changToDoing($event)"></todo-to-do-cart>
        </div>
        <div class="col" style="margin: 10px">
          <h3 style="margin: 10px;alignment: center">Doing Task</h3>
          <todo-doing-cart *ngFor="let item of itemsListDoing" [cartTaskItemDoing]="item" (deleteDoingEvent)="deleteDoingList($event)"   (isChangeDoingEvent)="changToDone($event)" ></todo-doing-cart>
        </div>
        <div class="col" style="margin: 10px">
          <h3 style="margin: 10px;alignment: center">Task is Done!</h3>
          <todo-done-cart *ngFor="let item of itemsListDone" [cartTaskItemDone]="item" ></todo-done-cart>
        </div>
      </div>
    </div>
  </div>
</div>




